<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<head>
  <title>Actualizar informacion del pokemon nombre</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>

<script>
  $(document).ready(function () {

    $("#buscar").click(function () {
      $(".ERROR").css("display", "none");
      var nombrePokemon = $("#nombrePokemon").val();
      var error = false;
      if ($("#nombrePokemon").val() == "") {
        $("#displayNombrePokemonError").css("display", "block");
        error = true;
      }
      if (error == false) {
        json = {
          "nombrePokemon": nombrePokemon,
        };
        $.ajax({
          url: '/api/actualizarInformacionPokemonNombre/mostrarPokemon',
          type: 'POST',
          dataType: 'json',
          data: JSON.stringify(json),
          contentType: "application/json",
          success: function (datosPokemon) {
            $("#formulario").hide(1000);
            //console.log(datosPokemon);
            if (datosPokemon != null) {
              $("#pokemonTable").css("display", "block");
              //llamamos la funcion para crear el pokemon en la tabla
              var datos = "<tr><td>" + datosPokemon.nombrePokemon + "</td>"
                + "<td>" + datosPokemon.nivelSiguienteEvolucion + "</td>"
                + "<td>" + datosPokemon.ordenEvolucion + "</td>"
                + "<td>" + datosPokemon.tipo1.tipo + "</td>"
                + "<td>" + datosPokemon.tipo2.tipo + "</td><td>";

              //iteramos habilidades
              for (let index = 0; index < datosPokemon.habilidades.length; index++) {
                const element = datosPokemon.habilidades[index];
                datos += element.habilidad + "</br>"
              }

              datos += "</td><td>" + datosPokemon.pokemonRaza.idPokemonRaza + "</td><tr>";
              //insertamos en dom
              $("#pokemonTable").append(datos);
              $("#formulario-cambiarNombre").css("display", "block");
            }

          },
          error: function (response) {
            $("#mensajeError").css("display", "block");
          }
        });





      }
    });

    $("#cambiar").click(function () {
      $(".ERROR").css("display", "none");
      var nombrePokemon = $("#nombrePokemon").val();
      var nuevoNombrePokemon = $("#nuevoNombrePokemon").val();
      var error = false;
      if ($("#nuevoNombrePokemon").val() == "") {
        $("#displayNombrePokemonError2").css("display", "block");
        error = true;
      }
      if (error == false) {
        json = {
          "nombrePokemon": nombrePokemon,
          "nuevoNombrePokemon": nuevoNombrePokemon,
        };
        $.ajax({
          url: '/api/actualizarInformacionPokemonNombre/cambiar',
          type: 'POST',
          data: JSON.stringify(json),
          contentType: "application/json",
          success: function (response) {
            console.log("aca entro al success");
            $("#pokemonTable").hide(1000);
            $("#formulario-cambiarNombre").hide(1000);
            $("#exitoActualizar").css("display", "block");
            $("#botonera").css("display", "block");
          },
          error: function (response) {
            console.log("aca hubo error");
            $("#duplicado").css("display", "block");
          }
        });

      }
    });



  });

</script>

<div>
  <h3 style="text-align:center">8-Actualizar informacion del pokemon (Nombre):</h3>
</div>



<div id="formulario">
  </br>
  </br>
  <h5 style="text-align:center">Buscar pokemon</h5>
  <form style="max-width: 75%; position: relative; text-align: center;">
    <div class="form-group row">
      <label for="nombrePokemon" class="col-4 col-form-label">Nombre Pokemon</label>
      <div class="col-8">
        <input id="nombrePokemon" name="nombrePokemon" type="text" required="required" class="form-control">
        <label id="displayNombrePokemonError" class="ERROR" style="display: none;">Complete el campo nombre de
          pokemon</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-4 col-8">
        <button id="buscar" name="buscar" type="button" class="btn btn-primary">Buscar</button>
      </div>
    </div>

  </form>

</div>



<div id="container" class="table-responsive text-center">
  <table id="pokemonTable" class="table  table-bordered table-striped table" style="display: none;">
    <tr>
      <th>Nombre Pokemon</th>
      <th>Nivel Siguiente Evolución</th>
      <th>Orden Evolucion</th>
      <th>Tipo 1</th>
      <th>Tipo 2</th>
      <th>Habilidades</th>
      <th>PokemonRaza</th>
    </tr>
  </table>
</div>

<div id="formulario-cambiarNombre" style="display: none;">
  <div class="form-group">
    <p>Nuevo Nombre del pokemon: <input style="max-width: 50%" class="form-control" id="nuevoNombrePokemon" type="text"
        name="nuevoNombrePokemon" required="required"></p>
    <label id="displayNombrePokemonError2" class="ERROR" style="display: none;">Complete el campo nombre de
      pokemon</label>
  </div>

  <p></p>
  <button id="cambiar" class="btn btn-primary">Cambiar</button>

</div>


<div class="alert alert-warning" id='mensajeError' role="alert" style="display: none;"
  onclick="document.getElementById('mensajeError').style.display = 'none'">
  No se ha encontrado, nombre de pokemon invalido
</div>


<div class="alert alert-warning" id='duplicado' role="alert" style="display: none;"
  onclick="document.getElementById('duplicado').style.display = 'none'">
  No se modificó, nombre pokemon ya existe
</div>

<div id="exitoActualizar" style="display: none;">
  <h3>Nombre modificado</h3>
  <p></p>
</div>

<div id="botonera" style="display: none;">
  <button onclick="javascript: history.go(-1)" class="btn btn-primary">Volver</button>
  <button id="recargar" onClick="window.location.reload();" class="btn btn-primary">Recargar</button>
</div>


</body>

</html>