<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<head>
	<title>TraerNombrePokemon</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

</head>

<script>
	$(document).ready(function () {


		$("#buscar").click(function () {
			$(".ERROR").css("display", "none");
			var nombrePokemon = $("#nombrePokemon").val();
			var nombreUsuario = $("#nombreUsuario").val();
			var error = false;
			if ($("#nombrePokemon").val() == "") {
				$("#displayNombrePokemonError").css("display", "block");
				error = true;
			}
			if ($("#nombreUsuario").val() == "") {
				$("#displayNombreUsuarioError").css("display", "block");
				error = true;
			}
			if (error == false) {
				json = {
					"nombrePokemon": nombrePokemon,
					"nombreUsuario": nombreUsuario
				};
				//	console.log(json);
				try {
					$.ajax({
					url: '/api/traerPokemonPorNombre/mostrar',
					type: 'POST',
					dataType: 'json',
					data: JSON.stringify(json),
					contentType: "application/json",
					success: function (datosDePokemonUsuario) {
						$("#formulario").hide(1000);
						console.log(datosDePokemonUsuario);
						console.log(datosDePokemonUsuario.pokemonDato);
						if (datosDePokemonUsuario != null) {
							$("#pokemonTable").css("display", "block");
							//llamamos la funcion para crear el pokemon en la tabla
							var datos = "<tr><td>" + datosDePokemonUsuario.pokemonDato.nombrePokemon + "</td>"
								+ "<td>" + datosDePokemonUsuario.pokemonDato.nivelSiguienteEvolucion + "</td>"
								+ "<td>" + datosDePokemonUsuario.pokemonDato.ordenEvolucion + "</td>"
								+ "<td>" + datosDePokemonUsuario.pokemonDato.tipo1.tipo + "</td>"
								+ "<td>" + datosDePokemonUsuario.pokemonDato.tipo2.tipo + "</td><td>";

							//iteramos habilidades
							for (let index = 0; index < datosDePokemonUsuario.pokemonDato.habilidades.length; index++) {
								const element = datosDePokemonUsuario.pokemonDato.habilidades[index];
								datos += element.habilidad + "</br>"
							}

							datos += "</td><td>" + datosDePokemonUsuario.pokemonDato.pokemonRaza.idPokemonRaza + "</td>"
								+ "<td>" + datosDePokemonUsuario.nivel + "</td>"
								+ "<td>" + datosDePokemonUsuario.usuario.nombre + "</td><tr>";
							//insertamos en dom
							$("#pokemonTable").append(datos);
							$("#botonera").css("display", "block");


						}

					},
					error: function (response) {
						$("#mensajeError").css("display", "block");
					}
				});
				} catch (error) {
					alert("no se ha encontrado");
					
				}
				
			}
		});



	});
</script>
<div id="formulario">
	<h4>Buscar pokemon y usuario</h4>

	<div class="form-row">
		<div class="form-group col-md-6">
			<p>Nombre del pokemon: <input class="form-control" id="nombrePokemon" type="text" name="nombrePokemon"
					required="required"></p>
			<label id="displayNombrePokemonError" class="ERROR" style="display: none;">Complete el campo nombre de
				pokemon</label>
		</div>
		<div class="form-group col-md-6">
			<p>Nombre del usuario: <input class="form-control" id="nombreUsuario" type="text" name="nombreUsuario"
					required="required"></p>
			<label id="displayNombreUsuarioError" class="ERROR" style="display: none;">Complete el campo nombre de
				usuario</label>
		</div>
	</div>


	<p></p>
	<button id="buscar" class="btn btn-primary">Buscar</button>
</div>

<div id="datosPokemonUsuario">
	<div id="container" class="table-responsive text-center">
		<table id="pokemonTable" class="table  table-bordered table-striped table " style="display: none;">
			<tr>
				<th>Nombre Pokemon</th>
				<th>Nivel Siguiente Evolución</th>
				<th>Orden Evolucion</th>
				<th>Tipo 1</th>
				<th>Tipo 2</th>
				<th>Habilidades</th>
				<th>PokemonRaza</th>
				<th>Nivel</th>
				<th>Nombre Usuario</th>
			</tr>
		</table>
	</div>
</div>

<div id="botonera" style="display: none;">
	<button onclick="javascript: history.go(-1)" class="btn btn-primary">Volver</button>
	<button id="recargar" onClick="window.location.reload();" class="btn btn-primary">Recargar</button>
</div>

<div class="alert alert-warning" id='mensajeError' role="alert" style="display: none;" onclick="document.getElementById('mensajeError').style.display = 'none'">
	No se ha encontrado, nombre de usuario o nombre de pokemon invalido
</div>
